 <%= link_to("<< Back to index", {:action =>'index'}, :class => 'back-link') %>

<div class="sections delete">
 	<h2>Erase a Section</h2>
 	<%= form_for(:section, :url => {:action => 'destroy',:id => @section.id}) do |f| %>
 	<p>Do you want to erase your own story?</p>
 	<p class="reference-name"><%= @section.name %></p>

 
 	<div class="form-buttons">
 		<%= submit_tag("erase your story" )%>
 	</div>
 	<% end %>

</div>