 <%= link_to("<< Back to index", {:action =>'index',:page_id => @page.id}, :class => 'back-link') %>

<div class="sections new">
 	<h2>Create Stories</h2>
 	<%= form_for(:section, :url => {:action => 'create'}) do |f| %>
 	<%= render(:partial => "form", :locals => {:f => f}) %>
 	<div class="form-buttons">
 		<%= submit_tag("create your section" )%>
 	</div>
 	<% end %>
 	 </div>