 <%= link_to("<< Back to index", {:action =>'index'}, :class => 'back-link') %>

<div class="page edit">
 	<h2>Update a Page</h2>
 	<%= form_for(:page, :url => {:action => 'update',:id => @page.id}) do |f| %>
 	<%= render(:partial => "form", :locals => {:f => f}) %>
 	<div class="form-buttons">
 		<%= submit_tag("update your page" )%>
 	</div>
 	<% end %>
 	 </div>