 <%= link_to("<< Back to index", {:action =>'index'}, :class => 'back-link') %>

<div class="stories edit">
 	<h2>Update a Story</h2>
 	<%= form_for(:one, :url => {:action => 'update',:id => @one.id}) do |f| %>
 <%= render(:partial => "share/form",:locals => {:f => f}) %>
 	<div class="form-buttons">
 		<%= submit_tag("update your story" )%>
 	</div>
 	<% end %>
 	 </div>