<%= form_for(instructment) do |f| %>
  <% if instructment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instructment.errors.count, "error") %> prohibited this instructment from being saved:</h2>

      <ul>
      <% instructment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
