<% page_title = "create account" %>
 <%= link_to("<< Back to index", {:action =>'index'}, :class => 'back-link') %>

<div class="stories new">
 	<h2>Create SAccount</h2>
 	<%= form_for(:user, :url => {:action => 'create'}) do |f| %>
 	<%= render(:partial => "form", :locals => {:f => f}) %>

 	<div class="form-buttons">
 		<%= submit_tag("sign up" )%>
 	</div>
 	<% end %>
 	 </div>