<% @stories ||= [] %>
<ul>
<% @stories.each do |story| %>
<li><%= story.name %>
	<ul class="nav">
		<% story.pages.visible.sorted.each do |page|%>
		<li class="current"><%= link_to(page.name, :action => 'show', :permalink =>
		page.permalink) %>
		</li> 
		<% end%>
	</ul>
</li>
<%end%>
</ul>
<br>
<br>
